In [15]:
import numpy as np
import pandas as pd

In [21]:
columns = ["Population (Millions)", "Size (Km^2)"]
index = ["Codeville", "Binaryburg", "Bugland"]

In [19]:
data = np.array([[50, 100000], [100, 220000], [150, 350000]])
data

array([[    50, 100000],
       [   100, 220000],
       [   150, 350000]])

In [29]:
df = pd.DataFrame(data=data, columns=columns, index=index, dtype=int)
df

            Population (Millions)  Size (Km^2)
Codeville                      50       100000
Binaryburg                    100       220000
Bugland                       150       350000

In [30]:
df["Population Density (Millions per Km^2)"] = df["Population (Millions)"] / df["Size (Km^2)"]
df

,Population (Millions),Size (Km^2),Population Density (Millions per Km^2)
Codeville,50,100000,0.000500
Binaryburg,100,220000,0.000455
Bugland,150,350000,0.000429

In [32]:
df.index.name = 'City'
df

,Population (Millions),Size (Km^2),Population Density (Millions per Km^2)
City,,,
Codeville,50,100000,0.000500
Binaryburg,100,220000,0.000455
Bugland,150,350000,0.000429